backend/.env
backend/__pycache__/
backend/*.pyc
backend/logs/
backend/cert.pem
backend/cert.key      

frontend/.dart_tool/
frontend/.idea/
frontend/build/
frontend/.packages
frontend/build/
frontend/*.iml
frontend/lib/config.dart

management-cli/server-side/.env
management-cli/remote-desktop/.env

.DS_Store
Thumbs.db

venv/*.*